snippet font-face "font-face" b
@font-face {
    font-family: '${1:font-name}';
    src: url('https://cdn.vortd.com/fonts/${2:file}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
endsnippet
