# CODE
snippet ' "preformatted inline" b
\`
endsnippet

snippet " "preformatted display" b 
\`\`\`
endsnippet

snippet "" "preformatted display" b
\`\`\`
$0
\`\`\`
endsnippet

snippet "b "preformatted display" b 
\`\`\`bash
$0  
\`\`\`
endsnippet

snippet "py "preformatted display" b 
\`\`\`python
$0
\`\`\`
endsnippet

snippet "y "preformatted display" b
\`\`\`yaml
$0
\`\`\`
endsnippet

snippet "json "preformatted display" b
\`\`\`json
$0
\`\`\`
endsnippet

snippet "js "preformatted display" b
\`\`\`js
$0
\`\`\`
endsnippet

# IMAGES
snippet img "images" b
![${1:alt}](${2:url}){ height=50% }
endsnippet

snippet ![ "images"
![${1:alt}](${2:url})
endsnippet

snippet ![" "images"
![${1:alt}](${2:url} "${3:hover}")
endsnippet


# DRAW
snippet dot "middle dot" w
·
endsnippet

snippet dots "middle dots" w
···
endsnippet

snippet vdot "vertical dot" w
⠨
endsnippet

snippet vdash  "" w
¦
endsnippet

snippet ta "" w
᭴
endsnippet
 
snippet ba "" w
v
endsnippet

snippet tl "" w
┌
endsnippet

snippet tr "" w
┐
endsnippet

snippet bl "" w
└
endsnippet

snippet br "" w
┘
endsnippet

snippet hl "" w
──
endsnippet

snippet vl "" w
│
endsnippet

snippet lx "" w
┤
endsnippet

snippet rx "" w
├
endsnippet

snippet tx "" w
┴
endsnippet

snippet bx "" w
┬
endsnippet

snippet x "" w
┼
endsnippet
