snippet s 
snippet ${1:shortcut} ${2:descrip}
$0
\endsnippet
endsnippet
snippet sn 
snippet ${1:shortcut} ${2:descrip}
$0
\endsnippet
endsnippet
snippet sni
snippet ${1:shortcut} ${2:descrip}
$0
\endsnippet
endsnippet
snippet snip 
snippet ${1:shortcut} ${2:descrip}
$0
\endsnippet
endsnippet
