snippet --- "frontmatter"
--------------------------------------
course: ${1:course}
--------------------------------------
module: ${2:module}
lecture: ${3:lecture}
title: ${4:title}
--------------------------------------
endsnippet

snippet ---mpp "frontmatter"
--------------------------------------
course: matemática para programadores
--------------------------------------
module: ${1:module}
lecture: ${2:lecture}
title: ${3:title}
--------------------------------------
endsnippet

snippet ---task "frontmatter"
--------------------------------------
tasks:
    > ${1:module}
--------------------------------------
endsnippet

