# CODE
snippet ' "preformatted inline" b
\`
endsnippet

snippet " "preformatted display" b 
\`\`\`
endsnippet

snippet "" "preformatted display" b
\`\`\`
$0
\`\`\`
endsnippet

snippet "b "preformatted display" b 
\`\`\`bash
$0  
\`\`\`
endsnippet

snippet "py "preformatted display" b 
\`\`\`python
$0
\`\`\`
endsnippet

snippet "yml "preformatted display" b
\`\`\`yaml
$0
\`\`\`
endsnippet

snippet "json "preformatted display" b
\`\`\`json
$0
\`\`\`
endsnippet

snippet "js "preformatted display" b
\`\`\`js
$0
\`\`\`
endsnippet

# VARS
snippet globals "frontmatter"
{{ block.globals }}
:: title: $0
:: weight:
:: template:
{{ block.end }}
endsnippet

snippet post "frontmatter"
{{ block.globals }}
:: title: $0
:: weight:
:: template: blog.html
:: header:
:: tags:
:: thumb:
:: related:
{{ block.end }}
endsnippet

snippet locals "frontmatter"
{{ block.locals }}
$0
{{ block.end }}
endsnippet

snippet toc "toc" w
{{ toc }}
endsnippet

# LIST
snippet defs "defs" w
{{ list.defs }}
endsnippet

snippet types "types" w
{{ list.types }}
endsnippet

snippet pages "types" w
{{ list.pages }}
endsnippet

# BLOCKS
snippet def "block.def"
{{ block.def }}
:: term: ${1:term}
:: context: ${2:context}
:: idea: ${3:idea}
:: details: ${4:details}
:: __refs__: ${5:refs}
{{ block.end }}
endsnippet

snippet quote "block.quote"
{{ block.quote }}
:: text: $0
{{ block.end }}
endsnippet

snippet type "block.type"
{{ block.type }}
:: __entity__: ${1:entity}
:: __context__: ${2:context}
:: type: ${3:type}
:: typesystem: ${3:typesystem}
:: meta: ${3:meta}
:: isterm: ${4:isterm}
:: issub: ${4:issub}
:: __refs__: ${5:refs}
{{ block.end }}
endsnippet

snippet meta "block.meta"
{{ block.meta }}
:: __entity__: ${1:entity}
:: __context__: ${2:context}
:: meta: ${3:meta}
:: typesystem: ${3:typesystem}
:: isterm: ${4:isterm}
:: issub: ${4:issub}
:: __refs__: ${5:refs}
{{ block.end }}
endsnippet

snippet plain "block.meta"
{{ block.plain }}
:: __entity__:
:: __context__:
$0
{{ block.end }}
endsnippet

snippet table "table" w
{{ block.table }}
:: __entity__:
:: __context__:
$0
{{ block.end }}
endsnippet

snippet diagram "diagram" w
{{ block.diagram }}
:: __entity:
:: __context:
:: node:
:: arrow: 
{{ block.end }}
endsnippet

# REFS
snippet ref "ref"
{{${1:topic}:${2:contexto}.${3:entry}:${4:label}}}
endsnippet

snippet "page\.([a-zA-Z0-9_.-]+)" "page refs" r
{{page:`!p snip.rv = match.group(1)`:`!p snip.rv = '.'.join(match.group(1).split('.')[-2:])`}}
endsnippet

snippet "def\.([a-zA-Z0-9_.-]+)" "def refs" r
{{def:`!p snip.rv = match.group(1)`:`!p snip.rv = '.'.join(match.group(1).split('.')[-2:])`}}
endsnippet

# HYPERLINK
snippet [ "hyperlink" w
[${1:label}](${2:url})
endsnippet

snippet "([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)" "github links" r
[`!p snip.rv = match.group(1)`/`!p snip.rv = match.group(2)`](https://github.com/`!p snip.rv = match.group(1)`/`!p snip.rv = match.group(2)`)
endsnippet

snippet [# "internal reference" w
[${1:label}](#${2:header})
endsnippet

# UNICODE
snippet . "middle dot" w
·
endsnippet

snippet ... "middle dots" w
···
endsnippet

snippet : "vertical dot" w
⠨
endsnippet

snippet v--  "" w
¦
endsnippet

snippet ta "" w
᭴
endsnippet

snippet ^ "" w
᭴
endsnippet
 
snippet ba "" w
v
endsnippet

snippet v "" w
v
endsnippet

snippet tl "" w
┌
endsnippet

snippet tr "" w
┐
endsnippet

snippet bl "" w
└
endsnippet

snippet |_ "" w
└
endsnippet

snippet br "" w
┘
endsnippet

snippet _| "" w
┘
endsnippet

snippet hl "" w
──
endsnippet

snippet -- "" w
──
endsnippet

snippet vl "" w
│
endsnippet

snippet | "" w
│
endsnippet

snippet -| "" w
┤
endsnippet

snippet rc "" w
├
endsnippet

snippet |- "" w
├
endsnippet

snippet tc "" w
┴
endsnippet

snippet _|_ "" w
┴
endsnippet

snippet t "" w
┬
endsnippet

snippet + "" w
┼
endsnippet

snippet -|-  "" w
┼
endsnippet
