# VARS
snippet globals "frontmatter"
{{ block.globals }}
:: title: $0
:: weight:
:: template:
{{ block.end }}
endsnippet

snippet post "frontmatter"
{{ block.globals }}
:: title: ${1:title}
:: template: post
:: author: ${2:author}
:: header: ${3:header}
:: tags: ${4:tags}
:: thumb: ./${5:thumb}
:: related: tags=*${6:related}*
{{ block.end }}
endsnippet

snippet locals "frontmatter"
{{ block.locals }}
$0
{{ block.end }}
endsnippet

snippet toc "toc" w
{{ toc }}
endsnippet

# LIST
snippet defs "defs" w
{{ list.block.def root=${1:root} }}
endsnippet

snippet types "types" w
{{ list.block.type }}
endsnippet

snippet pages "types" w
{{ list.pages root=${1:root} page_label=globals.header exclude=*index* }}
endsnippet

# BLOCKS
snippet def "block.def"
{{ block.def }}
:: __context__: ${1:context}
:: term: ${2:term}
:: idea: ${3:idea}
:: details: ${4:details}
{{ block.end }}
endsnippet

snippet ref "block.ref"
{{ block.def }}
:: __context__: ${1:context}
:: title: ${2:title}
:: author: ${3:author}
:: desc: ${4:desc}
:: links: ${5:links} 
:: path: /bib/${6:path}
{{ block.end }}
endsnippet

snippet quote "block.quote"
{{ block.quote }}
:: text: $0
{{ block.end }}
endsnippet

snippet type "block.type"
{{ block.type }}
:: __context__: ${1:context}
:: type: ${2:type}
:: system: ${3:system}
:: meta: ${3:meta}
:: isterm: ${4:isterm}
:: issub: ${4:issub}
:: __refs__: ${5:refs}
{{ block.end }}
endsnippet

snippet meta "block.meta"
{{ block.meta }}
:: __entity__: ${1:entity}
:: __context__: ${2:context}
:: meta: ${3:meta}
:: typesystem: ${3:typesystem}
:: isterm: ${4:isterm}
:: issub: ${4:issub}
:: __refs__: ${5:refs}
{{ block.end }}
endsnippet

snippet plain "block.meta"
{{ block.plain }}
:: __entity__:
:: __context__:
$0
{{ block.end }}
endsnippet

snippet table "table" w
{{ block.table }}
:: __entity__:
:: __context__:
$0
{{ block.end }}
endsnippet

snippet diagram "diagram" w
{{ block.diagram }}
:: __entity__:
:: __context__:
:: node:
:: arrow: 
{{ block.end }}
endsnippet

snippet code "diagram" w
{{ block.code lang=${1:lang} }}
$0
{{ block.end }}
endsnippet

# REFS
snippet "page" "page ref" r
{{page:${1:path}:${2:label}}}
endsnippet

snippet "page\.([a-zA-Z0-9_.-]+)" "page refs" r
{{page:`!p snip.rv = match.group(1)`:`!p snip.rv = '.'.join(match.group(1).split('.')[-2:])`}}
endsnippet

snippet "def\.([\w.-]+)" "def refs" r
{{def:`!p snip.rv = match.group(1)`:`!p snip.rv = '.'.join(match.group(1).split('.')[-1:])`}}
endsnippet

snippet "ref\.([\w.-]+)" "ref refs" r
{{ref:`!p snip.rv = match.group(1)`:`!p snip.rv = '.'.join(match.group(1).split('.')[-1:])`}}
endsnippet

# HYPERLINK
snippet [ "hyperlink" w
[${1:label}](${2:url})
endsnippet

snippet "gh.([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)" "github links" r
[`!p snip.rv = match.group(1)`/`!p snip.rv = match.group(2)`](https://github.com/`!p snip.rv = match.group(1)`/`!p snip.rv = match.group(2)`)
endsnippet

snippet [# "internal reference" w
[${1:label}](#${2:header})
endsnippet

# UNICODE
snippet . "middle dot" w
·
endsnippet

snippet ... "middle dots" w
···
endsnippet

snippet : "vertical dot" w
⠨
endsnippet

snippet v--  "" w
¦
endsnippet

snippet ta "" w
᭴
endsnippet

snippet ^ "" w
᭴
endsnippet
 
snippet ba "" w
v
endsnippet

snippet v "" w
v
endsnippet

snippet tl "" w
┌
endsnippet

snippet tr "" w
┐
endsnippet

snippet bl "" w
└
endsnippet

snippet |_ "" w
└
endsnippet

snippet br "" w
┘
endsnippet

snippet _| "" w
┘
endsnippet

snippet hl "" w
──
endsnippet

snippet -- "" w
──
endsnippet

snippet vl "" w
│
endsnippet

snippet | "" w
│
endsnippet

snippet -| "" w
┤
endsnippet

snippet rc "" w
├
endsnippet

snippet |- "" w
├
endsnippet

snippet tc "" w
┴
endsnippet

snippet _|_ "" w
┴
endsnippet

snippet t "" w
┬
endsnippet

snippet + "" w
┼
endsnippet

snippet -|-  "" w
┼
endsnippet
